<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->

{%- assign favicon_path = site.favicon_path -%}

{% if favicon_path %}
  <link rel="apple-touch-icon" sizes="180x180" href="{{ favicon_path }}apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ favicon_path }}favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ favicon_path }}favicon-16x16.png">
  <link rel="manifest" href="{{ favicon_path }}site.webmanifest">
  <link rel="mask-icon" href="{{ favicon_path }}safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
{% endif %}

<meta name="google-site-verification" content="wA5C7RKX6xTV5yKCTDvE4PinamRPGPywjp_9oJDAR2Y" />

<!-- jQuery 1.7.2+ or Zepto.js 1.0+ -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- jQuery Setting -->
<script src="/assets/js/_main.js"></script>

<!-- end custom head snippets -->
