<h2 class="earth__title">지구</h2>
<div id="globeViz" class="earth"></div>
<small class="earth__caption">나라별 인구수(2021) / 1인당 국민소득(2021)</small>

<script type="text/jsx">
  const { useState, useEffect } = React;
  const globeMaterial = new THREE.MeshPhongMaterial();
    globeMaterial.bumpScale = 10;
    new THREE.TextureLoader().load('//unpkg.com/three-globe/example/img/earth-water.png', texture => {
      globeMaterial.specularMap = texture;
      globeMaterial.specular = new THREE.Color('grey');
      globeMaterial.shininess = 15;
    });

  const World = () => {
    const [countries, setCountries] = useState({ features: []});

    useEffect(() => {
      fetch('../assets/data/ne_110m_admin_0_countries.geojson').then(res => res.json()).then(setCountries);
    }, []);

    return (
      <Globe
        width={1280}
        height={800}
        globeMaterial={globeMaterial}
        globeImageUrl="//unpkg.com/three-globe/example/img/earth-blue-marble.jpg"
        bumpImageUrl="//unpkg.com/three-globe/example/img/earth-topology.png"
        backgroundImageUrl="//unpkg.com/three-globe/example/img/night-sky.png"
        hexPolygonsData={countries.features}
        hexPolygonColor={() => `#${Math.round(Math.random() * Math.pow(2,24)).toString(16).padStart(6,'0')}0e`}
        hexPolygonMargin={0.001}
        hexPolygonLabel={({ properties: d }) => `
          <b>${d.ADMIN} (${d.ISO_A2})</b> <br>
          인구수: <i>${d.POP_EST.toLocaleString(navigator.language)}명 (${d.POP_YEAR})</i> <br>
          인구 순위: <i>${d.POP_RANK}</i> <br>
          1인당 GDP(nominal): <i>\$${d.GDP_NOMINAL_EST.toLocaleString(navigator.language)} (${d.GDP_NOMINAL_YEAR})</i> <br>
          1인당 GDP(PPP): <i>\$${d.GDP_PPP_EST.toLocaleString(navigator.language)} (${d.GDP_PPP_YEAR})</i> <br>
        `}
      />
    )
  };

  ReactDOM.render(
    <World />,
    document.getElementById('globeViz')
  );
</script>

<!-- Globe.gl Setting -->
<script src="//unpkg.com/react/umd/react.production.min.js"></script>
<script src="//unpkg.com/react-dom/umd/react-dom.production.min.js"></script>
<script src="//unpkg.com/babel-standalone"></script>
<script src="//unpkg.com/three"></script>
<script src="//unpkg.com/react-globe.gl"></script>