.earth__title {
  display: flex;
  justify-content: center;
}

.earth {
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  max-height: 400px;
  border-radius: 20px;
}

.earth .scene-tooltip:not(:empty) {
  background-color: #000;
  opacity: .9;
  padding: 10px;
  border-radius: 10px;
}

.earth__caption {
  display: flex;
  justify-content: center;
  font-style: italic;
  margin-bottom: 5em;
}