.earth__title {
  display: flex;
  justify-content: center;
}

.earth {
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin-top: 1em;
  margin-bottom: 5em;
  border-radius: 20px;
}

.earth canvas {
  border-radius: 20px;
}

.earth .scene-tooltip:not(:empty) {
  background-color: #000;
  opacity: .9;
  padding: 10px;
  border-radius: 10px;
}
