.earth__title {
  display: flex;
  justify-content: center;
}

.earth {
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: 555px;
  border-radius: 20px;
}

.earth .scene-tooltip:not(:empty) {
  background-color: #000;
  opacity: .9;
  padding: 10px;
  border-radius: 10px;
}

.earth__caption {
  display: flex;
  justify-content: center;
  font-style: italic;
  margin-top: .5em;
  margin-bottom: 5em;
}